/*Nav Bar */ 

/*
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	}

	li {
	    float: left;
	}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover:not(.active) {
	    background-color: #111;
	}

	.active {
	    background-color: #4CAF50;
	}
	*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

title{

}
.socialmedia{

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.thumbnail{
	display: flex;
	height: 120px;
	margin: 0;
}

header {
  padding: 20px 0;
}

.highlight {
    background: yellow;
  }

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/c6/df/a2/c6dfa22150790c670c988c5196f6ba0e.gif');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
/*https://s-media-cache-ak0.pinimg.com/originals/c6/df/a2/c6dfa22150790c670c988c5196f6ba0e.gif*/

.aboutmejumbotron {
  display: flex;
  align-items: center;
  background-image: url('../img/collage.png');

  background-size: cover;
  color: #ffffff;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.skillsjumbo {
  display: flex;
  align-items: center;
  background-image: url('../img/skills.jpg');

  background-size: cover;
  color: #ffffff;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}


.skillsjumbo h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  color: #fff;
}




.aboutmejumbotron h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  color: #fff;
}


.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}
.me {
 border-radius: 50%;
width:56px;
height:75px ;
margin-left: -15px;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.jumbotron h4 {
  margin: 0 0 10px;
  color: #fff;
}
.jumbotron h5 {
  margin: 0 0 5px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #0000FF;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #DC143C;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #0000FF;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}